.monto{
    position: fixed;
    background-color: #2b3035;
    color: aliceblue;
    text-align: center;
    margin-top: 460px;
    margin-left: 75%;
    width: 300px;
    height: 35px;
    font-size: 20px;
}