img{
    width: 40px;
    height: 40px;
}
.monto{
    position:absolute;
    background-color: #2b3035;
    color: aliceblue;
    text-align: center;
    margin-top: 460px;
    margin-left: 75%;
    width: 300px;
    height: 35px;
    font-size: 20px;
    justify-content: space-around;
}
#ingresos{
    visibility: hidden;
    position: absolute;
}
#gastos{
    visibility: hidden;
    position: absolute;
}
#colchon{
    visibility: hidden;
    position: absolute;
}

